<p>Who looks cute :)</p>
<% @pets.each do |pet| %>
  <div>
    <p><%= pet.name %></p> <p><%= button_to 'Adopt This pet', "/admin/applications/#{@app.id}", method: :patch, params: {pet_id: pet.id} %></p><br>
  </div>
<% end %>