<body style="background-color: white;">
<h1>Pets Page, display pet index here</h1>

<% @pets.each do |pet| %>
  <h1><%= link_to pet.name, "pets/#{pet.id}"%></h1>
    <p>
      <%= pet.breed %>
      <%= pet.age %>
    </p>
<% end %>
</body>
