
<div class="inline">
  <p class="lead">Shelters With Pending Applications</p>
  <section id="pending">
    <% @shelters_pending.each do |shelter| %>
      <div>
      <h2 style="text-align: center;"><%= link_to shelter.name, "/admin/shelters/#{shelter.id}"%></h2>
        <p id="city"><%= shelter.city %></p>
      </div>
    <% end %>
  </section>
</div>
