<!DOCTYPE html>
<html>
<head>

</head>

<body>

	<p class="lead">Welcome to our About Page.</p>

  <div>
    <p>This is where you will find our contact information and other important stuff no one ever looks at:)</p>
  </div>

</body>
</html>
