<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<div class="container">
	<p class="lead">Welcome to Adopt Don't Shop.</p>
	<div class="header-bar">
		<ul class="slider-menu">
		  <li><%= link_to 'Pets', '/pets', class:"link_white", method: :get %></li>
			<li><%= link_to 'Shelters', '/admin/shelters', class:"link_white", method: :get %></li>
			<li><%= link_to 'Applications', '/admin/applications', class:"link_white", method: :get %></li>
		</ul>
	</div>
</div>

</body>
</html>

